<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.verya.QMLGPC" android:installLocation="auto" android:versionCode="1" android:versionName="1.1.0">

    <!-- 📍 مجوزهای GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- ویژگی GPS -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>

    <application android:name="org.qtproject.qt.android.bindings.QtApplication" android:hardwareAccelerated="true" android:label="QMLGPC" android:requestLegacyExternalStorage="true" android:allowBackup="true" android:fullBackupOnly="false" android:icon="@drawable/icon">

        <activity android:name="org.verya.QMLGPC.MainActivity" android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" android:launchMode="singleTop" android:screenOrientation="unspecified" android:exported="true" android:label="QMLGPC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="QMLGPC"/>
        </activity>

        <!-- ✅ BroadcastReceiver برای دکمهٔ اکشن نوتیف -->
        <receiver android:name="org.verya.QMLGPC.NotificationReceiver" android:exported="true">
            <intent-filter>
                <!-- باید با action در NotificationHelper یکی باشد -->
                <action android:name="org.verya.QMLGPC.ACTION_NOTIFY_CLICK"/>
            </intent-filter>
        </receiver>

        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.qtprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/qtprovider_paths"/>
        </provider>
    </application>
</manifest>
